API_ID=example
API_HASH=example
SESSION_STRING=example
TRANSACTIONS_SCANNING_TIME_MINUTES=example
OUTPUT_CHAT_ID=example
SOLANA_TOKENS_IGNORE_RANGE=example;example
DB_CONNECTION_STRING=example
DB_COLLECTION_NAME=example
BOT_API=example
HELIUS_API_KEY=example
INTERPRETER_PATH=example
SCANNER_FILE_PATH=example
TOKENS_LIMIT=example
INCLUDE_ERROR_TX=example